<%- include('partials/header'); -%>




<h1> About</h1>
<img src="/images/me.png" class="my_img">

<h3>Jiten Kumar Grover,</h3>

<h4>a Web designer, Programmer & Learner</h4>

<p> <%= startingAboutContent %> </p>


 


<%- include('partials/footer'); -%>