<%- include('partials/header'); -%>




<h1> Get in touch</h1>

<p> <%= startingContactContent %> </p>

<h1 class="can_do">What I can do.</h1>
<table> 
    <tr> 
 <td class=""><img class="img-left" src="/images/design.png"> </td>
 <td class=""> <h3 class="sub_heading">Design what you want.</h3><br> <p>I like to keep it simple. My goals are to focus on typography, content and conveying the message that you want to send.</p> </td>
</tr> 
<tr>
    <td class=""> <h3 class="sub_heading">Develop what you need.</h3><br> <p>I'm a developer, so I know how to create your website to run across devices using the latest technologies available.</p> </td>
    <td class=""><img class="img-right" src="/images/develop.png"> </td>
</tr> 
</table>

<h1 class="can_do">I can help.</h1>
<p class="want_project">If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.</p>

<div class="message_me">
    <a href="mailto:jiten.kumar.grover@gmail.com" target="_blank" class="btn btn-primary btn-lg"><i class="far fa-envelope"></i>MESSAGE ME</a>
</div>

<div class="icon">
<a href="https://jitenkumargrover.github.io/My-Personal-Website/" target="_blank"><i class="fas fa-user-circle"></i></a>
<a href="https://www.linkedin.com/in/jiten-kumar-g-74ba76aa/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
<a href="https://github.com/JitenKumarGrover" target="_blank"><i class="fab fa-github fa-3x"></i></a>
<a href="https://www.hackerrank.com/jgrover_be17" target="_blank"><i class="fab fa-hackerrank fa-3x"></i></a>
<a href="https://www.goodreads.com/ethan_jkg" target="_blank"><i class="fab fa-goodreads fa-3x"></i></a>
<br>

</div>



<%- include('partials/footer'); -%>
